html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    text-align: center;
    color: #FFFF00;
    
}

body.portrait .top_or_left, body.portrait .bottom_or_right {
    display: block;
    width: 20%;
}

body.portrait canvas {
    display: block;
    width: 50%;
}

body.landscape .top_or_left, body.landscape .bottom_or_right {
    display: inline-block;
    vertical-align: top;
    padding: 5em;
    width: 10%;
}

body.landscape canvas {
    display: inline-block;
    width: 50%;
}